# This runs on every commit that is not on a dev-* branch.
name: pdoc
on:
  push:
    branches-ignore:
      - 'dev-*'
  pull_request:
    branches:
      - '*'
env:
  RUST_VERSION: "1.93.0"
  PYTHON_VERSION: "3.14"

jobs:

  pdoc:
    name: pdoc documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout.
        uses: actions/checkout@v4
      - name: Setup Python.
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          architecture: x64
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ env.RUST_VERSION }}
      # We install pdoc from our custom fork that supports overloads (albeit in a bit of an out-of-spec way).
      - name: Install and run pdoc.
        run: |
          python3 -m venv venv
          source ./venv/bin/activate
          ./venv/bin/pip3 install -r dev-requirements.txt          
          ./venv/bin/pip3 install git+https://github.com/daemontus/pdoc.git@aeon
          maturin develop
          pdoc --math -o ./docs biodivine_aeon
      - name: Store the generated docs with the workflow run
        uses: actions/upload-artifact@v4
        with:
          name: docs
          path: ./docs